/* General styles for the PlaceOrder component */
.place-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.place-order-left,
.place-order-right {
  flex: 1;
  min-width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.place-order-left {
  flex-basis: 60%;
}

.place-order-right {
  flex-basis: 35%;
}

.title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: deepskyblue;
}

.input-field-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 15px;
}

.input-field {
  margin-bottom: 15px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-field input,
.input-field select {
  width: 100%;
  padding: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  outline: none;
  transition: border 0.2s;
}

.input-field input:focus,
.input-field select:focus {
  border-color: deepskyblue;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: none;
  opacity: 1;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: deepskyblue;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #007acc;
}

/* Responsive Design */
@media (max-width: 768px) {
  .place-order-left,
  .place-order-right {
    flex-basis: 100%;
  }

  .input-field-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2em;
  }

  .input-field label {
    font-size: 0.9em;
  }

  .input-field input,
  .input-field select {
    font-size: 0.9em;
    padding: 8px;
  }

  button {
    font-size: 0.9em;
    padding: 8px;
  }
}
